:root {
    --text-color:           #252120 ;
    --bg-color:             #FDFDFD;
    --brand-primary-color:  #4D47A7;
    --brand-second-color:   #D2E6FB;
    --brand-third-color:    #C70039;
    --brand-fourth-color:   #DAF7A6;
    --brand-fifth-color:    #EDBEBD;
    --brand-sixth-color:    #57A773;
    --placeholder-color:    #AFA8A6;
}