@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin :0;
    font-family: 'Heebo';
}

/*HEADER*/
@media screen and (max-width: 2000px) {
    .header {
        background-color: var(--brand-primary-color);
        color: var(--bg-color);
        height: 10vh;
        padding: 0 32px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
    }

    #menu-icon{
        height: auto;
        width: 8%;
    }

    .navbar-brand{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand:first-child img {
        border-radius: 4px;
        padding: 4px;
        background-color: #FDFDFD;
    }

    header div a:hover{
        color: var(--brand-third-color);
        text-decoration: none;
    }

}
@media screen and (min-width: 900px) {

            /*Css to come*/
}

.main{
    min-height: 100vh;
}

label{
    color: var(--brand-primary-color);
    display: inline;
}

.icons{
    max-width: 1rem;
}

.column-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*FORMS*/

input {
    border: 1px solid var(--brand-primary-color) !important;
}

section {
    margin-top: 1em;
}

#signIn-section{
    min-height: 45vh;
}

#signIn-form{
    min-height: 35vh;
}

#signUp-section{
    min-height: 15vh;
}
#signUp-section div {
    background-color: var(--brand-second-color);
}

form a {
    color: var(--brand-third-color);

}
#arrow-submit {
    border: none !important;
}

#signIn-form .btn {
    background-color: var(--brand-second-color);
}
#signUp-form .btn {
    background-color: var(--bg-color);
}

h1{
    color: var(--brand-primary-color);
    font-size: 32px;
}
h2{
    color: var(--text-color);
    font-size: 24px;
}

p{
    color: var(--text-color);
    font-size: 16px;
}

.errors{
    color: var(--brand-third-color);
    font-size: 14px;
}

.successes{
    color: var(--brand-sixth-color);
    font-size: 14px;
}


/*FOOTER*/

footer{
    height: 250px;
    width: 100%;
    padding: 0;

    color: var(--text-color);
    font-size: 1rem;
}
#pre-footer{
    background-color: var(--placeholder-color);
}

#bottom-footer{
    background-color: var(--brand-primary-color);
}
/* desktop footer */
@media screen and (min-width: 900px){

}


